{
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "printWidth": 150,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all"
}
